*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100%;
    height: 100vh;
}

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
}
ul{
    display: flex; 
}
li{
    padding: 2em;
    list-style: none;
    text-decoration: none;
    
}
li:hover{
    border-bottom: 2px solid black;
    width: 2em;
}
.section-1{
    background:#F6C34A url("./imagens/background-hero.png");
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.section-1 input{
    background-color: black;
    color: white;
    height: 7vh; 
   

}
.section-1 h1{
    font-size:2em;
}

.section-1 p{
    font-size: 1.3em;
    height: 10vh;
    
}

.section-2{
    background-color: black;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.section-2 h2{
    color: #FBFBFB;
    text-align: center;
    padding-top: 10vh;
    padding-bottom: 5vh;

}


.paragrafoh2{
    text-align: justify;
    color:#FBFBFB;
    margin: 0 10vw;
    
}

.section-2 h1{
    color: #FBFBFB;
    padding: 10vh;
}


#conteiner-cards{

    display: grid;
    background-color: black;
    grid-gap: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
    grid-template-columns: 4, 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
} 
.depoimentos{
    grid-column: 2/4;
    display: grid;
    justify-content: center;

}
 
.item1{
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    font-family: 'Open Sans';
    width: 200px;
    grid-column: 1/2;
    
}
.item2{
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    font-family: 'Open Sans';
    width: 200px;
    grid-column: 2/3;
    
}
.item3{
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    font-family: 'Open Sans';
    width: 200px;
    grid-column: 3/4;
   
}
.item4{
    background-color: aliceblue;
    color: black;
    border-radius: 8px;
    font-family: 'Open Sans';
    width: 200px;
    grid-column: 4/5 ;
}



.footer-col{
    width: 25%;
    padding: 0 px;
}

.footer-col h4{
    font-size: 22px;
    color: rgb(10, 0, 0);
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    
 
}









    
